/chave-composta-idClass/nbproject/private/
/chave-composta-idClass/build/
/vendaProdutos/nbproject/private/
/vendaProdutos/build/
/heranca/nbproject/private/
/heranca/build/
/heraca-joined/nbproject/private/
/heraca-joined/build/
/heranca-table-per-class/nbproject/private/
/heranca-table-per-class/build/
