/chave-composta-idClass/nbproject/private/
/chave-composta-idClass/build/
/vendaProdutos/nbproject/private/
/vendaProdutos/build/
/heranca/nbproject/private/
/heranca/build/
/heraca-joined/nbproject/private/
/heraca-joined/build/
/heranca-table-per-class/nbproject/private/
/heranca-table-per-class/build/
/bancoJPA/nbproject/private/
/bancoJPA/build/
/namedy-query/nbproject/private/
/namedy-query/build/
/util/nbproject/private/
/util/build/
/util/dist/
